@import "../core/variables";
@import "../core/mixins";

.detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px 0;

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 280px;
		height: 380px;
		padding: 20px;
		border-radius: 1em;
		background-color: $orange;
		box-shadow: 6px 6px 10px $blood;
		@include tablet {
			display: grid;
			grid-template-columns: auto 1fr;
			grid-template-rows: auto 1fr auto;
			column-gap: 15px;
			width: 540px;
			height: 340px;
		}
	}
	&__back {
		position: absolute;
		height: 30px;
		width: 30px;
		align-self: flex-end;
		border-radius: 50%;
		&--cross {
			color: $wine;
			font-size: 30px;
		}
		&:hover {
			transform: translateY(-1px);
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
		}
		@include tablet {
			position: relative;
			justify-self: right;
			grid-column: 2/3;
			grid-row: 1/2;
			align-self: flex-end;
		}
	}
	&__image {
		width: 170px;
		border-radius: 1em;
		margin-top: 15px;
		@include tablet {
			width: 300px;
			align-self: flex-end;
			grid-column: 1/2;
			grid-row: 1/4;
		}
	}
	&__text {
		color: $darkGrey;
		@include tablet {
			font-size: 18px;
			grid-column: 2/3;
			grid-row: 2/3;
		}
	}
	&__circles {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		gap: 5px;
		@include tablet {
			grid-column: 2/3;
			grid-row: 3/4;
		}
	}
	&__select {
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		border-radius: 50%;
		height: 45px;
		width: 45px;
		background-color: $grey;
		border: 4px solid $wine;
		&--icon {
			height: 65%;
		}
		@include tablet {
			height: 55px;
		width: 55px;
		}
	}
	&__icon {
		font-size: 20px;
		color: $wine;
		&--container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: $orange;
			height: 50px;
			width: 140px;
			border-radius: 10px;
			@include tablet {
				width: 180px;
				grid-column: 2;
				grid-row: 3;
				justify-self: center;
			}
		}
	}
}
