@import '../core/variables';
@import '../core/mixins';

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	padding: 10px;
	margin-bottom: 60px;
	&__item {
		margin: 10px;
	}
}