@import "../core/variables";
@import "../core/mixins";

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	width: 220px;
	height: 320px;
	padding: 15px 10px;
	border: 3px solid $grey;
	border-radius: 1em;
	background-color: $orange;
	&__image {
		width: 130px;
		border: 3px solid $grey;
	}
	&__text {
		color: $wine;
		font-weight: bold;
	}
	&__circles {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	&__species {
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		border-radius: 50%;
		height: 45px;
		width: 45px;
		background-color: $wine;

		&--icon {
			height: 30px;
		}
	}
	&__button {
		border: none;
		border-radius: 50%;
		height: 75px;
		width: 75px;
		background-color: $yellow;
		font-family: $special;
		font-size: 18px;
		color: $wine;
	}
}
