@import "../core/variables";
@import "../core/mixins";

.detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 280px;
		height: 340px;
		padding: 15px;
		border: 3px solid $grey;
		border-radius: 1em;
		background-color: $orange;

		@include tablet {
			width: 280px;
		height: 440px;
		}
	}
	&__back {
		position: absolute;
		height: 30px;
		width: 30px;
		align-self: flex-end;

		&--cross {
			color: $wine;
			font-size: 30px;
		}
	}
	&__image {
		width: 140px;
		border: 3px solid $grey;
		@include tablet {
			width: 180px;
		}
	}
	&__text {
		color: $darkGrey;
	}
	&__icon {
		height: 20px;
		&--container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: $yellow;
			height: 50px;
			width: 180px;
			border-radius: 10px;
		}
	}
	&__button {
		border: none;
		border-radius: 50%;
		height: 50px;
		width: 50px;
		background-color: $wine;
		font-family: $special;
		font-size: 20px;
		color: $grey;
		margin-top: 10px;
	}
}
