@import "../core/variables";
@import "../core/mixins";

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	width: 220px;
	height: 320px;
	padding: 15px;
	border-radius: 1em;
	background-color: $yellow;
	box-shadow: 3px 3px 5px $blood;
	&__image {
		width: 130px;
	}
	&__text {
		color: $darkGrey;
		font-size: 18px;
		
	}
	&__circles {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	&__species {
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		border-radius: 50%;
		height: 45px;
		width: 45px;
		background-color: $wine;
		&--icon {
			height: 30px;
		}
	}
	&__button {
		border: none;
		border-radius: 50%;
		height: 75px;
		width: 75px;
		background-color: $wine;
		font-family: $special;
		font-size: 18px;
		color: $grey;
		&:hover {
			transform: translateY(-2px);
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
		}
	}
}
