@import "../core/variables";
@import "../core/mixins";

.detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 400px;
	margin: 30px;
	&__card {
	display: flex;
	flex-direction: column;
	align-items: center;	
	justify-content: space-between;
	width: 280px;
	height: 400px;
	padding: 15px;
	border: 3px solid $grey;
	border-radius: 1em;
	background-color: $orange;
	}
	&__image {
		width: 180px;
		border: 3px solid $grey;
	}
	&__text {
		color: $darkGrey;
	}
	&__icon {
		height: 20px;
		&--container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: $yellow;
			height: 50px;
			width: 200px;
			border-radius: 10px;		
		}
	}
	&__button {
		border: none;
		border-radius: 50%;
		height: 50px;
		width: 50px;
		background-color: $wine;
		font-family: $special;
		font-size: 20px;
		color: $grey;
		margin-top: 10px;
	}
}