@import "../core/variables";
@import "../core/mixins";

.filter {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90px;
	background-color: $orange;
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		@include tablet {
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
	}
	&__select {
		display: flex;
		gap: 10px;
	}
	&__inputT {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		&--text {
			border: none;
			border-radius: 1em;
			height: 25px;
			width: 200px;
			padding: 0 10px;
			background-color: $grey;
		}
		&--reset {
			border: none;
			border-radius: 50%;
			background-color: $orange;
		}
		&--icon {
			color: $wine;
			font-size: 25px;
			border-radius: 50%;
			&:hover {
				transform: translateY(-1px);
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
			}
		}
	}
	&__inputSelect {
		border: none;
		border-radius: 1em;
		height: 25px;
		width: 90px;
		padding: 0 10px;
		background-color: $grey;
		color: $darkGrey;

		@include tablet {
			width: 120px;
		}
	}
	@include tablet {
		justify-content: flex-start;
		height: 50px;
		padding: 20px;
	}
}
