@import "../core/variables";
@import "../core/mixins";

.footer {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
	background-color: $grey;
	color: $wine;
	font-size: 12px;
	&__name {
		grid-column: 1;
		grid-row: 1;
	}
	&__text {
		grid-column: 1;
		grid-row: 2;
	}
	&__link {
		text-align: end;
		color: $wine;
		grid-column: 2;
		grid-row: 2;
		&:active {
			color: $wine;
		}
	}
	@include tablet {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		font-size: 14px;
	}
}
