@import "../core/variables";
@import "../core/mixins";

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background: url("../../images/back.png") no-repeat center;
	background-size: cover;


	

	&__text {
		font-family: $special;
		font-size: 30px;
		color: $blood;
	}
	&__logo {
		height: 80px;
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-color: $purple;
		height: 80px;
		width: 80px;
	}
	&__arrow {
		color: $orange;
		font-size: 60px;
	}
}

