// fonts
$special: "Bangers", cursive;
$regular: "Urbanist", sans-serif;

// colors
$orange: #ffaf1c;
$blood: #400f12;
$wine: #b83b5e;
$grey: #f5f0f0;
$yellow: #fce7b6;
$darkGrey: #3a3a3a;
$grey: #e4e4e4;

